{% extends "base_generic.html" %}

{% block content %}

    {% if form.errors %}
        <div class="row h-100">
            <div class="col-md-6 h-100" style="background-color: #B90606;">
                <h1 class="align-self-center" style="font-family: Jokerman; -webkit-text-stroke-width: 1.5px; -webkit-text-stroke-color: black; color: white; font-size: 45pt; margin-top: 140px; margin-left: 80px;">Tricky Trivia Tournament</h1>
                <img src="http://www.ragefaces.memesoftware.com/faces/svg/troll-trollface-20.svg" style="margin-top: 90px; margin-left: 200px;" height="400px" alt="Troll face">
            </div>
            <div class="col-md-3 offset-md-1 align-self-center">
                <img src="https://vignette.wikia.nocookie.net/dreamscape317/images/2/27/Trivia.png/revision/latest?cb=20180817223800"
                     style="height: 100px; width: 350px; margin-bottom: 50px;"
                     alt="Tricky Trivia Tournament">
                <div class="alert alert-danger" role="alert">
                    Invalid username/password
                </div>
                <form method="post" action="/accounts/login/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">Username</label>
                        <input type="text" class="form-control is-invalid" name="username" id="id_username" autofocus
                               required>
                        <small class="form-text text-muted">Usernames are located in the SQLite database on GitHub
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="id_password">Password</label>
                        <input type="password" class="form-control is-invalid" id="id_password" name="password"
                               required>
                        <small class="form-text text-muted">Please don't forget your password</small>
                    </div>
                    <input type="submit" value="Sign in" class="btn btn-primary"/>
                    <input type="hidden" name="next" value=""/>
                </form>
            </div>
        </div>
    {% else %}
        <div class="row h-100">
            <div class="col-md-6 h-100" style="background-color: #A0D332;">
                <h1 class="align-self-center" style="font-family: Jokerman; -webkit-text-stroke-width: 1.5px; -webkit-text-stroke-color: black; color: white; font-size: 45pt; margin-top: 140px; margin-left: 80px;">Tricky Trivia Tournament</h1>
                <img src="http://www.ragefaces.memesoftware.com/faces/svg/troll-trollface-20.svg" style="margin-top: 90px; margin-left: 200px;" height="400px" alt="Troll face">
            </div>
            <div class="col-md-3 offset-md-1 align-self-center">
                <img src="https://vignette.wikia.nocookie.net/dreamscape317/images/2/27/Trivia.png/revision/latest?cb=20180817223800"
                     style="height: 100px; width: 350px; margin-bottom: 50px;"
                     alt="Tricky Trivia Tournament">
                <form method="post" action="/accounts/login/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">Username</label>
                        <input type="text" class="form-control" name="username" id="id_username" autofocus required>
                        <small class="form-text text-muted">Usernames are located in the SQLite database on GitHub
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="id_password">Password</label>
                        <input type="password" class="form-control" id="id_password" name="password" required>
                        <small class="form-text text-muted">Please don't forget your password</small>
                    </div>
                    <input type="submit" value="Sign in" class="btn btn-primary"/>
                    <input type="hidden" name="next" value=""/>
                </form>
            </div>
        </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

{% endblock %}